<launch>

    <!-- ════════════════════════════════════════════════════════════════ -->
    <!-- TOP-LEVEL CONFIGURATION                                          -->
    <!-- ════════════════════════════════════════════════════════════════ -->
    <arg name="paradigm" default="cvsa"/>      <!-- mi | cvsa | hybrid -->
    <arg name="subject"  default="c7"/>
    <arg name="extra"    default=""/>
    <arg name="modality" default="calibration"/>
    <arg name="trials"   default="[10, 10]"/>

    <arg name="classes" value="$(eval '[769, 770]' if arg('paradigm') == 'mi' else
                         ('[750, 751]' if arg('paradigm') == 'hybrid' else
                         ('[730, 731]' if arg('paradigm') == 'cvsa' else 'error_paradigm')))"/>
    <arg name="task" value="$(eval 'mi_lhrh' if arg('paradigm') == 'mi' else
                       ('hybrid_lr' if arg('paradigm') == 'hybrid' else
                       ('cvsa_blbr' if arg('paradigm') == 'cvsa' else 'error_paradigm')))"/>

    <arg name="filepath" default="/home/paolo/bci_vr_ws/recordings/$(arg subject)/$(arg modality)"/>

    <rosparam param="/protocol/subject"  subst_value="True">$(arg subject)</rosparam>
    <rosparam param="/protocol/modality" subst_value="True">$(arg modality)</rosparam>
    <rosparam param="/protocol/task"     subst_value="True">$(arg task)</rosparam>
    <rosparam param="/protocol/extra"    subst_value="True">$(arg extra)</rosparam>


    <!-- ════════════════════════════════════════════════════════════════ -->
    <!-- ACQUISITION                                                      -->
    <!-- ════════════════════════════════════════════════════════════════ -->
    <arg name="samplerate"  default="500"/>
    <arg name="framerate"   default="20"/>
    <arg name="stream_name" default="LiveAmpSN-054211-0242"/>
    <arg name="stream_type" default="EEG"/>

    <node name="acquisition" pkg="rosneuro_acquisition" type="acquisition" output="screen"
          launch-prefix="bash -c 'sleep 2; $0 $@'">
        <param name="~plugin"      value="rosneuro::LSLDevice"/>
        <param name="~samplerate"  value="$(arg samplerate)"/>
        <param name="~framerate"   value="$(arg framerate)"/>
        <param name="~stream_type" value="$(arg stream_type)"/>
        <param name="~stream_name" value="$(arg stream_name)"/>
    </node>


    <!-- ════════════════════════════════════════════════════════════════ -->
    <!-- FEEDBACK PROTOCOL                                                -->
    <!-- ════════════════════════════════════════════════════════════════ -->
    <node name="training_node" pkg="feedback_bci_vr" type="training_node" output="screen">
        <rosparam param="modality" subst_value="True">$(arg modality)</rosparam>
        <rosparam param="classes"  subst_value="True">$(arg classes)</rosparam>
        <rosparam param="trials"   subst_value="True">$(arg trials)</rosparam>
        <rosparam param="paradigm" subst_value="True">$(arg paradigm)</rosparam>
    </node>


    <!-- ════════════════════════════════════════════════════════════════ -->
    <!-- VR (Unity scene + ROS-TCP bridge)                                -->
    <!-- ════════════════════════════════════════════════════════════════ -->
    <node name="scene_manager" pkg="feedback_bci_vr" type="scene_manager.py" output="screen">
        <param name="paradigm" value="$(arg paradigm)"/>
    </node>

    <arg name="tcp_ip"   default="10.9.2.20"/>
    <arg name="tcp_port" default="10000"/>
    <include file="$(find ros_tcp_endpoint)/launch/endpoint.launch">
        <arg name="tcp_ip"   value="$(arg tcp_ip)"/>
        <arg name="tcp_port" value="$(arg tcp_port)"/>
    </include>


    <!-- ════════════════════════════════════════════════════════════════ -->
    <!-- RECORDER  (GDF)                                                  -->
    <!-- ════════════════════════════════════════════════════════════════ -->
    <arg name="autostart" default="true"/>
    <node name="recorder" pkg="rosneuro_recorder" type="recorder">
        <param name="~autostart" value="$(arg autostart)"/>
        <param name="~filepath"  value="$(arg filepath)"/>
    </node>


    <!-- ════════════════════════════════════════════════════════════════ -->
    <!-- BAG RECORDER                                                     -->
    <!-- ════════════════════════════════════════════════════════════════ -->
    <node name="bag_node" pkg="bag_bci" type="save_bag.py" output="screen">
        <param name="~subject"  value="$(arg subject)"/>
        <param name="~paradigm" value="$(arg paradigm)"/>
        <param name="~modality" value="$(arg modality)"/>
        <param name="~filepath" value="$(arg filepath)"/>
    </node>

</launch>
