<?xml version="1.0"?>
<launch>

    <!-- RECORDER-->
    <!-- Protocol arguments -->
    <arg name="subject"   default="i2"/>
    <arg name="task"      default="mi_bhbf"/>
    <arg name="extra"     default=""/>
    <arg name="modality"         default='calibration'/>
    <arg name="classes"          default='[771, 773]'/>
    <!-- Recorder arguments -->
    <arg name="autostart" default='true'/>
    <arg name="filepath"  default='/home/paolo/cvsa/ic_cvsa_ws/record_mi/$(arg subject)' />
    <!-- Protocol parameters -->
    <rosparam param="/protocol/subject"     subst_value="True">$(arg subject)</rosparam>
    <rosparam param="/protocol/modality"    subst_value="True">$(arg modality)</rosparam>
    <rosparam param="/protocol/task"        subst_value="True">$(arg task)</rosparam>
    <rosparam param="/protocol/extra"       subst_value="True">$(arg extra)</rosparam>
    <!-- node -->
    <!-- <node name="recorder" pkg="rosneuro_recorder" type="recorder" >
        <param name="~autostart" value="$(arg autostart)"/>
        <param name="~filepath"  value="$(arg filepath)"/>
    </node> -->
            

    <!-- ACQUISITION-->
    <!-- Acquisition arguments -->
    <arg name="plugin"     default='rosneuro::EGDDevice'/>
    <arg name="devarg"     default='/home/paolo/prova39ch.gdf'/> 
    <arg name="framerate"  default='16'/>
    <arg name="samplerate" default='512'/>
    <!-- 
    <arg name="plugin"          default='rosneuro::LSLDevice'/> 
    <arg name="framerate"       default='20'/>
    <arg name="stream_type"     default='EEG'/>
    <arg name="stream_name"     default='LiveAmpSN-054211-0242'/>
    <arg name="samplerate"      default='500'/>    
    -->

    <!-- node -->
    <node name="acquisition" pkg="rosneuro_acquisition" type="acquisition" output="screen" >
        <param name="~plugin"       value="$(arg plugin)"/>
        <param name="~devarg"       value="$(arg devarg)"/>
        <param name="~samplerate"   value="$(arg samplerate)"/>
        <param name="~framerate"    value="$(arg framerate)"/>

        <!-- 
        <param name="~stream_type"     value="$(arg stream_type)"/>
        <param name="~stream_name"     value="$(arg stream_name)"/>
        -->
    </node>


    <!-- FEEDBACK-->
    <!-- arguments -->
    <arg name="thresholds"       default='[1.0, 1.0]'/> <!-- depends on the user -->
    <arg name="trials"           default='[10, 10]'/>
    <arg name='paradigm'          default='cvsa'/>
    <!-- node -->
    <node name="training_node" pkg="feedback_bci_vr" type="training_node"  output="screen">
        <rosparam param="modality" subst_value="True">$(arg modality)</rosparam>
        <rosparam param="thresholds" subst_value="True">$(arg thresholds)</rosparam>
        <rosparam param="classes" subst_value="True">$(arg classes)</rosparam>
        <rosparam param="trials" subst_value="True">$(arg trials)</rosparam>
        <rosparam param="paradigm" subst_value="True">$(arg paradigm)</rosparam>
    </node>


    <!-- VR SCENE MANAGER -->
    <!-- node-->
    <node pkg="feedback_bci_vr" type="scene_manager.py" name="scene_manager" output="screen">
        <param name="paradigm" value="$(arg paradigm)" />
    </node>


    <!-- ROS-UNITY -->
    <include file="$(find ros_tcp_endpoint)/launch/endpoint.launch">
        <arg name="tcp_ip" value="0.0.0.0" /> <arg name="tcp_port" value="10000" />       
    </include>


    <!-- ROSBAG -->
    <!-- rosbag recording node -->
    <!-- <node pkg="bag_bci" type="save_bag.py" name="save_bag" output="screen">
        <rosparam param="filepath" subst_value="True">$(arg filepath)</rosparam>
        <rosparam param="subject"  subst_value="True">$(arg subject)</rosparam>
        <rosparam param="paradigm"  subst_value="True">$(arg paradigm)</rosparam>
    </node> -->

</launch>
